@import 'fonts.css';
@import 'allStails.css';
@import 'globalButton.css';
@import 'globalInput.css';
@import 'globalLink.css';

.phoneNumberSMS.globalButton {
    padding: 17px 155px;
    margin: 10px 0;
}

@media (max-width: 400px) {

    .phoneNumberSMS.globalButton {
        padding: 16px 110px;
        margin-bottom: 30px;
    }
    .title {
        font-size: 16px;
        margin-bottom: 0px;
    }
    #phoneNumberSMS .globalInput {
        padding: 16px 10px;
    }
}